## 경로 설정
### 절대경로
* 웹 페이지나 파일이 가진 고유한 경로
* 최상위 디렉토리가 포함된 경로
* 예) file:///Users/user/Downloads/
* 예) C:\\user\documents

### 상대경로
* / : 루트
* ./ : 현재 위치
* ../ : 상위 폴더
* ../../ : 두 단계 위 상위 폴더

In [5]:
# 실습파일 경로 확인 1
%pwd

'C:\\Users\\wongahee\\jupyter-tutorial'

In [7]:
# 실습파일 경로 확인 2
import os
os.getcwd()

'C:\\Users\\wongahee\\jupyter-tutorial'

In [31]:
# 유닉스 스타일 파일 위치 찾기
from glob import glob

glob("data/*")

['data\\도로교통공단_월별 주야별 교통사고 통계_20231231.csv']

In [33]:
# 파일이름을 변수에 담아 오류 줄이기
file_name = glob("data/*")[0]
file_name

'data\\도로교통공단_월별 주야별 교통사고 통계_20231231.csv'

In [ ]:
# 폴더 이동
# %mv /Users/~~~/~~~/도로교통공단_교통사고다발지역_20191010.csv .

In [79]:
import pandas as pd

In [81]:
# UnicodeDecodeError 시 인코딩 설정 필요
# encoding="cp949": 한글 인코딩
# pd.read_csv(): csv 파일 불러오기 (경로/ + tab 키로 자동 불러오기)
pd.read_csv("data/도로교통공단_월별 주야별 교통사고 통계_20231231.csv", encoding="cp949")

# 오류 줄이기
#pd.read_csv(file_name)
# 공공데이터포털에서 data 다운로드

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8682    98  2209   9440     759
1     1  야   5798    92  1539   6349     530
2     2  주   8056    95  2149   8710     710
3     2  야   5228    86  1419   5553     500
4     3  주  10393   109  2600  11132     880
5     3  야   5607    78  1449   5930     467
6     4  주  10460    93  2797  11356    1055
7     4  야   5876    89  1609   6181     551
8     5  주  11668   135  3132  12618    1178
9     5  야   5884    68  1576   6233     603
10    6  주  10962   114  2881  11797    1092
11    6  야   5754    88  1601   5893     613
12    7  주  10647   105  2755  11552    1138
13    7  야   5931   100  1554   6165     549
14    8  주  11185   136  2990  12252    1111
15    8  야   6027   110  1632   6287     641
16    9  주  11458   130  3063  12396    1119
17    9  야   6402   109  1777   6559     737
18   10  주  11039   141  3186  11609    1102
19   10  야   6294   124  1814   6383     559
20   11  주  11397   139  3143  12183    1081
21   11  야   6351   118  1706   6565     620
22   12  주  10540   107  2691  11407    1003
23   12  야   6657    87  1717   7019     643

## 여러 파일을 한번에 로드하는 방법

In [84]:
file_csv = glob("data/store/*.csv")
file_csv

# 한글 오류
# 타이핑 인코딩과 텍스트 인코딩 방식에 차이가 있어
# 다른 결과를 가져오기 때문에 소상*.csv를 입력해도 데이터가 안불러와질 수 있음

['data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202403.csv',
 'data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202403.csv']

In [88]:
pd.read_csv(file_csv[0])

C:\Users\wongahee\AppData\Local\Temp\ipykernel_129512\2135214103.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(file_csv[0])

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
2,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 460,200200,24472,NaN,3,NaN,127.707653,37.867744
3,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189
4,MA010120220805431369,행운쉼터,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4281032022008200005013654,NaN,강원특별자치도 인제군 북면 금강로 751,252826,24609,NaN,NaN,NaN,128.207086,38.171871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95401,MA0101202310A0084366,챌린지24,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,...,4221010800106360014000001,NaN,강원특별자치도 속초시 청초호반로 117,217811,24872,NaN,1,NaN,128.581501,38.190570
95402,MA0101202310A0043532,우수에프앤비,NaN,G2,소매,G204,종합 소매,G20404,슈퍼마켓,G47121,...,4217010700100510001000001,NaN,강원특별자치도 동해시 효자남1길 7,240180,25806,NaN,2,NaN,129.109095,37.490096
95403,MA0101202310A0045843,수니복베이크샵,NaN,I2,음식,I210,기타 간이,I21001,빵/도넛,I56191,...,4213011200127850000000006,NaN,강원특별자치도 원주시 소일마을2길 60-1,220121,26509,NaN,2,NaN,127.966091,37.371090
95404,MA0101202311A0009500,어묵,NaN,I2,음식,I210,기타 간이,I21099,그 외 기타 간이 음식점,I56199,...,4211012400107360003015294,NaN,강원특별자치도 춘천시 애막골길11번길 33,200936,24323,NaN,NaN,NaN,127.752949,37.867046
95405,MA0101202310A0056830,블리스댄스스튜디오학원,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,4213033023113450011000001,NaN,강원특별자치도 원주시 지정면 무릉로 15,220821,26353,NaN,NaN,NaN,127.874778,37.374957

In [ ]:
# file_list에 리스트 형태로 file_csv 파일 넣기
file_list = []

for file_csv_name in file_csv:
    print(file_csv_name)
    temp = pd.read_csv(file_csv_name, low_memory=False)
    file_list.append(temp)

In [ ]:
file_list[0]

In [ ]:
file_list

In [68]:
len(file_list)

17

In [58]:
# 여러개(17개)의 파일을 하나의 데이터프레임으로 합치기
# concat : 합치기
df = pd.concat(file_list)
df.shape

(2418939, 39)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()